@page
@model Administracion_Base_de_datos_Proyecto_Final.Pages.Client.Edit.EditTipoHabitacionModel
@{
}
<br />
<h2>Editar Tipo de Habitación</h2>

<form method="POST">
    <input type="hidden" name="TipoID" value="@Model.tipoHabitacion.TipoID" />

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Nombre" value="@Model.tipoHabitacion.Nombre" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Descripción</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Descripcion" value="@Model.tipoHabitacion.Descripcion" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Precio por Noche</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="PrecioPorNoche" value="@Model.tipoHabitacion.PrecioPorNoche" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Capacidad</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="Capacidad" value="@Model.tipoHabitacion.Capacidad" />
        </div>
    </div>

    <!-- Agregar más campos según sea necesario -->

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>